<!DOCTYPE html>
<html>
    <head>
        <title>Blogs Your Uncle</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <h1>Blogs Your Uncle</h1>
        <style>
            .error {
                color: red;
            };

        </style>
    </head>
<body>

    <header>
        <nav>
            <ul style="list-style-type:none;">
                <li><a href='/'>Home</a></li>
                <li><a href="/blog">All Blog Posts</a></li>
                <li><a href="/newpost">New Entry</a></li>
                <li><a href='/login'>login</a></li>
                <li><a href='/signup'>Create Account</a></li>
                <li><a href='/logout'>log out</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
